{% extends "por.html" %}
{% block main %}
  <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>BiLSTM</h2>
                        
     
         
           
             <nav class="nav-menu d-none d-lg-block">
                 
        <ul> 
            <li><a href="/">Home</a></li>
        
            <li class="drop-down"><a href="">Select the Models</a>
            <ul>
              <li ><a href="/ft">RSSM-SW</a>
                  
                    </li>
              <li><a href="/wv">RSSM-SG</a>
             
                    </li>
           
              <li ><a href="#">BiMPM</a>
            
         
        </ul>
 </li>

        </ul>
      </nav><!-- .nav-menu -->
        </div>

      </div>
    </section><!-- End Breadcrumbs -->



<section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>RSSM-SW Entailment Classifier</h2>
          <p>Here you can Find Entailment classification and accuracy result of RSSM-SW model.</p>
        </div>
          
          
        <div class="row">

         
            
            
  <div class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch">
      
            <form action="/wv" method="post" role="form" class="form">
                
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="sentencea">Premise </label>
                  <input type="text" name="sentencea" class="form-control" id="c" data-rule="minlen:10" data-msg="Please enter at least 10 numbers" />
                  <div class="validate"></div>
            
                  <label for="sentencea">Hypotesis</label>
                  <input type="text" name="sentenceb" class="form-control" id="c" data-rule="minlen:10" data-msg="Please enter at least 10 numbers" />
                  <div class="validate"></div>
                </div>
                </div>
              
              <div class="text-center"><button type="submit">Predict</button></div>
     
            <div class="d-inline-flex p-2">

        <div class="alert alert-success" role="alert">
              <p>Pair of sentence entered above are <br>Premise: {{sentencea}} <br> Hypotesis: {{sentenceb}} </p>
       <P>Predicted Class:
              {% if pred %}
              {{ pred }}
               {% endif %} 
           </p>
           <P>Prediction Accuracy:
          {% if score %}
          {{ score }}
           {% endif %}</p>
       </div>
 </div>
            </form>
         

        </div>
    
 </div>
      </div>
    </section><!-- End Contact Section -->



 


{% endblock %}
