<!DOCTYPE html>

<html lang="en">

    <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        
   
       <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/style.css" rel="stylesheet"/>

                                                                <script src="/static/js/jquery-3.3.1.slim.min.js"></script>

                        
 <script src="/static/js/bootstrap.min.js"></script>
                         <script src="/static/js/bootstrap.bundle.min.js"></script>

        
        <title>Deep Learning: {% block title %}{% endblock %}</title>

 </head>

    <body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-0 shadow">



  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Deep Learning</a>
   <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
</button>
     <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                  


                    <li class="nav-item"><a class="nav-link" href="/ft">BiLSTMFT model</a></li>
                    <li class="nav-item"><a class="nav-link" href="/wv">BiLSTMWV model</a></li>

                </ul>
          </div>
</nav>



<div class="container">
  <h2>Hover Rows</h2>
    
        <h1 class="cover-heading">Deep learnig models for Amaharic entailment classifcation.</h1>
    <p class="lead">Please selct the models for evaluating Entailment Classifcation and word analysis .</p>
   

  <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>            

      <h2>Section title</h2>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Models</th>
              <th>Accuraccy</th>
              <th>Loss</th>
              <th>Validation Accuracy</th>
              <th>Validation Loss</th>
            </tr>
          </thead>
          <tbody>
             <tr>
              <td><a class="nav-link active" herf="/ft"><code>SeBiMPM</code></a></td>
              <td><a class="nav-link active" href="/grida" ><code>{{accuracyf}}</code></a></td>
              <td><code>{{lossf}}</code></td>
              <td><code></code></td>
              <td><code></code></td>
            </tr>
            <tr>
              <td><a class="nav-link active" href="/wv"><code>SeBiMPM</code></a></td>
              <td><a class="nav-link active" href="/grid"><code>{{accuracyw}}</code></a></td>
              <td><a class="nav-link active" href="new.html"><code>{{lossw}}</code></a></td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
                          <tr>

              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
            <tr></tbody>
        </table>
     <p class="lead">
      <a href="/layout" class="btn btn-lg btn-secondary">Learn more</a>
    </p>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Designed for experments Amarharic NLI and word analysis <a href="https://getbootstrap.com/">NLI Deep Learning models</a>, by <a href="https://helinamesfin17@gmail.com">@Invisible</a>.</p>
    </div>
  </footer>
    
 </div>
  
  

         
    </body>
    
   
</html>
     