<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        
   
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/stylc.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                <script src="/js/script.js"></script>

        
        <title>Deep Learning: {% block title %}{% endblock %}</title>
        


    </head>

    <body>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-0 shadow">



  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Deep Learning</a>
   <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
</button>
     <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                  


                    <li class="nav-item"><a class="nav-link" href="/ft">BiLSTMFT model</a></li>
                    <li class="nav-item"><a class="nav-link" href="/wv">BiLSTMWV model</a></li>

                </ul>
          </div>
</nav>

  <div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column mr-auto mt-2">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Plot each 
            </a>
          </li>
             <li class="nav-item">
                <a  class="nav-link"  href="#bd-docs-nav" data-toggle="collapse" aria-expanded="true"aria-label="Toggle navigation" class="nav-toggler">
                <span class="nav-toggler-icon"></span> new </a>
                <ul class="collapse shown list-unstyled" id="bd-docs-nav">
                 <li class="nav-link">
            
          <a  href="#"  style="text-decoration: none">
            <code>Amaharic Word Vector</code>
          </a>
   
                     </li>
                     
                    <li>
                        
                       <a class="nav-link" href="/plot_url">
                                       <span data-feather="plus-circle"></span>


                           Home 2</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Home 3</a>
                    </li>
                </ul>
            </li>
             <ul class="list-sidebar bg-defoult">
              <li> <a href="#" data-toggle="collapse" data-target="#dashboard" aria-expanded="true"  class="collapsed active" > <i class="fa fa-th-large"></i> <span class="nav-label"> Dashboards </span> <span class="fa fa-chevron-left pull-right"></span> </a>
              <ul class="sub-menu collapse show" id="dashboard">
                <li class="active"><a href="#">CSS3 Animation</a></li>
                <li><a href="/plot_url">General</a></li>
                <li><a href="/true">Buttons</a></li>
                <li><a href="#">Tabs & Accordions</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">FontAwesome</a></li>
                <li><a href="#">Slider</a></li>
                <li><a href="#">Panels</a></li>
                <li><a href="#">Widgets</a></li>
                <li><a href="#">Bootstrap Model</a></li>
              </ul>
            </li>
                         

          <li class="nav-item">
            <a class="nav-link text-success" href="/true">
              <span data-feather="file"></span>
              Mesure Inefernces w2v BiMPI
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-success" href="/truewv">
              <span data-feather="file"></span>
              Mesure Inefernces SW BiMPI
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plot_url">
              <span data-feather="shopping-cart"></span>
              Plot PCA
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plot">
              <span data-feather="users"></span>
              BiLSTM_plot
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grid">
              <span data-feather="bar-chart-2"></span>
              Checking accuracyWV
            </a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="/grida">
              <span data-feather="bar-chart-2"></span>
              Checking accuracyFT
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/compare_models">
              <span data-feather="layers"></span>
              Compare models
            </a>
          </li>
                                                   </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Amaharic Word Vectors</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/sim">
              <span data-feather="file-text"></span>
              Measure W2v Similarity
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/disimilar">
              <span data-feather="file-text"></span>
              Most Disimialr
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/morpheme">
              <span data-feather="file-text"></span>
              Amahric Morphems
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pltll">
              <span data-feather="file-text"></span>
              Amaharic Word2Vec
            </a>
          </li>

        </ul>

      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h1 class="h3">Amaharic Entailment Classification</h1>
      </div>
                  

     {% block main %}{% endblock %}

</div>
  
        </main>
              </div>
      
      </div>



         
    </body>
    
   
</html>
     
            