{% extends "por.html" %}



{% block main %}
  <!-- ======= Breadcrumbs ======= -->
   <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Intrinsic evaluation</h2>
                        
     
         
           
              <nav class="nav-menu d-none d-lg-block">
                 
        <ul> 
            <li><a href="/">Home</a></li>
        
        
            <li class="drop-down"><a href="">Word2Vec Eval</a>
            <ul>
              <li ><a href="/morphemewv">Related words</a>
                  
                    </li>
              <li><a href="/analogyw">Analogy r/s</a>
             
                    </li>
                    <li><a href="/morphemew">Similarity Score</a></li>
           
                
              <li ><a href="/simwv">Most similars</a></li>
                <li ><a href="/disimilarwv">One odd out</a></li>
                                <li ><a href="/wpca">PCA</a></li>

            
            
         
        </ul>
 </li>

        </ul>
      </nav><!-- .nav-menu -->
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
<section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Related words</h2>
          <p>This task involves finding list of related words to a given query word.</p>
        </div>

      
        <div class="row">
            
           
           
            
               
 <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">

      
           

     
 <form  action="/morphemewv" method='post' method="post" role="form" class="form">
           <div class="form-group col-md-8">
                  <label for="sentencew">Enter word/s</label>
                  <input type="text" name="sentencew" class="form-control" id="sentencew" data-rule="minlen:10" data-msg="Please enter at least 10 numbers" />
                  <div class="validate"></div>
                </div>
               
  <div class="form-group-append"><button type="submit">Related words</button></div>
<div class="d-inline-flex p-2">

        <div class="alert alert-success" role="alert">
              <p>Find the top 6 related word of SG<a href="#" class="alert-link"> {{sentencew}} </a>entered above.</p>
                {% if result %}
              {{ result|safe }}
               {% endif %}         
 </div>
     </div>
            </form>  
     
  
          </div>
          <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">

    

    
          <form action="/morphemeft" method="post" role="form" class="form">
              <div class="form-row">
              
              <div class="form-group col-md-8">
                  <label for="sentencef">Enter word/s</label>
                  <input type="text" name="sentencef" class="form-control" id="sentencef" data-rule="minlen:10" data-msg="Please enter at least 10 numbers" />
                  <div class="validate"></div>
                </div>
                       </div>                      
                  <div class="form-group-append"><button type="submit">Related words</button></div>

            <div class="d-inline-flex p-2">

        <div class="alert alert-success" role="alert">
              <p>Find the top 6 related word of SW<a href="#" class="alert-link"> {{sentencef}} </a> entered above.</p>
                {% if resultf %}
              {{ resultf }}
               {% endif %} 
  </div>
     </div>

                  </form>    

</div>
                  

        </div>
    

      </div>
    </section><!-- End Contact Section -->
{% endblock %}

